.card {
  padding: 1.5rem;
  background-color: rgb(172, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0.85rem;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}
