.card {
  padding: 1.5rem;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0.85rem;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #000;

  &:hover {
    opacity: 0.6;
  }
}

.underlined {
  color: rgb(95, 95, 95);
  text-decoration: underline;
  margin-bottom: 5px;
}
