.buyOrderCard {
  color: $primary-text;
  padding: 1.5rem;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0.85rem;
  border: $default-border;
  border-radius: $default-border-radius;
  text-decoration: none;
  cursor: pointer;
  box-shadow: $default-shadow;

  &:hover {
    opacity: 0.6;
  }
}
