.card {
  display: grid;
  grid-template-rows: 1fr 0.8fr 1fr;
  gap: 10px;
  padding: 1.5rem;
  border: $default-border;
  box-shadow: $default-shadow;
  text-decoration: none;
  color: $primary-text;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    border: 1px solid rgb(25, 25, 25);
  }
}

.flexRow {
  display: flex;
  justify-content: space-between;
}

.imageRow {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;

  img {
    border-radius: 5px;
  }

  p {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
  }
}

.countryBadges {
  display: flex;
  gap: 10px;

  span {
    outline: none;
    border: $default-border;
    border-radius: $default-border-radius;
    padding: 5px;
    font-size: 0.75rem;
  }
}
