.container {
  padding: 0.7rem 1rem;
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  p {
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .enabled {
    border: 1px solid black;
    opacity: 1 !important;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 12px;

    button {
      outline: none;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 5px 10px;
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
