.container {
  padding: 1rem;
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
  border: $default-border;
  border-radius: $default-border-radius;
  z-index: 1000;
  background-color: #fff;
  box-shadow: $default-shadow;

  .enabled {
    background-color: rgb(64, 64, 64);
    color: #fff;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 12px;

    button {
      outline: none;
      border: none;
      font-size: 1rem;
      border-radius: $default-border-radius;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}
